button{
    color: white;
    border: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-right: 10px;
    cursor: pointer;
}
.dark{
    background-color: black;

}
.success{
    background-color: rgb(1, 175, 1);
}